.main-container {
  padding: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 67%; /* Divide el grid en dos columnas en proporción 30:70 */
  grid-gap: 16px; /* Espacio entre los elementos del grid */
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-element {
  //min-width: 150px;
  //max-width: 200px;
}

/* Cambia el diseño del grid para pantallas pequeñas */
@media only screen and (max-width: 800px) {
  .main-container {
    padding: 1rem;
  }

  .grid-container {
    grid-template-columns: 100%; /* El grid ocupa el 100% del ancho de la pantalla */
  }
}

@media only screen and (max-width: 400px) {
  .grid-card {
    grid-template-columns: 100%; /* El grid ocupa el 100% del ancho de la pantalla */
  }
}

/* Define el contenido y la posición de los elementos */
.item1 {
  /* Define el estilo para el primer elemento */
}

.item2 {
  /* Define el estilo para el segundo elemento */
}


