<div id="about-me"></div>
<div class="container p-3 p-md-5">
  <!-- HABILIDADES -->
  <!--<div class="my-5">
    <h3 class="fw-bold text-center">Habilidades destacadas</h3>
    <div class="card-sm shadow-sm p-3">
      <p *ngFor="let habilidad of informacion.habilidades">
        {{habilidad.descripcion}}</p>
    </div>
  </div>-->

  <!-- EDUCACION -->
  <!--<div class="my-5">
    <h3 class="fw-bold text-center">Formación académica</h3>
    <div class="card-sm shadow-sm p-3">
      <div *ngFor="let formacion of informacion.formacion">
        <p class="fw-normal mt-3 mb-0">{{formacion.titulo}}</p>
        <small class="fw-normal fst-italic">{{formacion.fecha}}</small>
      </div>
    </div>
  </div>-->

  <!-- SOBRE MÍ -->
  <div class="my-5">
    <div class="text-center p-3">
      <div class="d-flex justify-content-center align-items-end">
        <img src="assets/images/angel_lucero.webp" alt="" width="150px" class="rounded-circle">
        <a class="btn-green rounded-4 ms-n1 px-2" href="{{environment.linkedin}}"
           target="_blank"><small>Disponible</small></a>
      </div>
      <h1 class="fw-bold text-center display-5 mt-5">Hola, soy Angel Lucero</h1>
      <label class="mt-3">Desarrollador de software con más de 5 años de experiencia.<br>
        Gran motivación para seguir aprendiendo y mejorando habilidades técnicas para crecer profesionalmente.<br>
        Confianza en mi capacidad en contribuir ideas interesantes y novedosas dentro de las distintas fases de
        desarrollo.</label>
      <div class="d-flex flex-wrap justify-content-center mt-4 mb-5">
        <a class="btn btn-dark m-2" href="{{environment.linkedin}}" target="_blank">
          <i class="pi pi-linkedin me-2 mt-1"></i>LinkedIn</a>
        <a class="btn btn-dark m-2" href="{{environment.github}}" target="_blank">
          <i class="pi pi-github me-2 mt-1"></i>GitHub</a>
        <a class="btn btn-dark m-2" href="mailto:{{environment.email}}" target="_blank">
          <i class="pi pi-envelope me-2 mt-1"></i>Gmail</a>
      </div>
    </div>
  </div>

  <!-- EXPERIENCIA -->
  <div class="my-5">
    <h4 class="fw-bold text-center pt-top mb-3" id="experience">Experiencia laboral</h4>
    <div class="rounded shadow mb-3 p-3"
         *ngFor="let experiencia of informacion.experiencia">
      <p class="fw-bold m-0">{{ experiencia.cargo }}</p>
      <div class="d-flex justify-content-between border-bottom">
        <small class="fw-normal">{{ experiencia.empresa }}</small>
        <small *ngIf="experiencia.fechaFinal === 'actualidad'" class="fw-light fw-bold">{{ experiencia.fechaInicial }}
          - {{ experiencia.fechaFinal }}</small>
        <small *ngIf="experiencia.fechaFinal !== 'actualidad'" class="fw-light">{{ experiencia.fechaInicial }}
          - {{ experiencia.fechaFinal }}</small>
      </div>
      <div *ngFor="let actividad of experiencia.actividades">
        <p class="mt-3 mb-0">{{ actividad }}</p>
      </div>
    </div>
  </div>

  <!-- REPOSITORIOS -->
  <div class="my-5">
    <h4 class="fw-bold text-center pt-top mb-3" id="repositories">Repositorios públicos</h4>
    <div class="grid-card">
      <div *ngFor="let repositorio of informacion.repositorios"
           class="rounded shadow text-center p-3">
        <div class="d-flex justify-content-between mb-3 border-bottom">
          <p class="fw-bold m-0">{{ repositorio.nombre }}</p>
          <div class="d-flex justify-content-end">
            <a class="text-dark mx-4" target="_blank"
               href="{{repositorio.repo}}"><i class="pi pi-github"></i></a>
            <a class="text-dark" target="_blank"
               href="{{repositorio.page}}"><i class="pi pi-desktop"></i></a>
          </div>
        </div>
        <p class="fw-normal">{{ repositorio.descripcion }}</p>
      </div>

    </div>
  </div>

  <!-- CONOCIMIENTOS -->
  <div class="my-5">
    <h4 class="fw-bold text-center pt-top mb-3" id="skills">Conocimientos y aptitudes</h4>
    <div class="grid-card">
      <div class="rounded shadow p-3"
           *ngFor="let conocimiento of informacion.conocimientos">
        <p class="fw-bold border-bottom">{{ conocimiento.descripcion }}</p>
        <div *ngFor="let elemento of conocimiento.elemento">
          <small>{{ elemento }}</small>
        </div>
      </div>
    </div>
  </div>

  <!-- CERTIFICACIONES -->
  <div class="my-5">
    <h4 class="fw-bold text-center pt-top mb-3" id="certifications">Certificaciones y reconocimientos</h4>
    <div class="rounded shadow p-3">
      <div *ngFor="let certificacion of informacion.certificaciones">
        <p class="fw-bold mt-3 mb-0 border-bottom">{{ certificacion.titulo }}</p>
        <div class="d-flex justify-content-between">
          <p class="mb-0">{{ certificacion.empresa }}</p>
          <small class="mb-0">{{ certificacion.fecha }}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-top bg-dark text-center p-3 web-only">
  <a class="btn-light rounded mx-1 px-2 py-1 fw-bold" href="#about-me"><small>Sobre mí</small></a>
  <a class="btn-light rounded mx-1 px-2 py-1 fw-bold" href="#experience"><small>Experiencia</small></a>
  <a class="btn-light rounded mx-1 px-2 py-1 fw-bold" href="#repositories"><small>Repositorios</small></a>
  <a class="btn-light rounded mx-1 px-2 py-1 fw-bold" href="#skills"><small>Conocimientos</small></a>
  <a class="btn-light rounded mx-1 px-2 py-1 fw-bold" href="#certifications"><small>Certificaciones</small></a>
</div>
