@import "primeicons/primeicons.css";

$dark: #061534;
$darker: #040813;
$light: #f8f8f8;
$font-size: 14px;

* {
  //font-family: 'JetBrains Mono', monospace;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: 'EB Garamond', serif;
  color: $dark;
}

a {
  text-decoration: none;
}

.bg-dark {
  background: $dark !important;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.btn-dark {
  color: $light;
  background: $dark;
  font-size: $font-size;

  &:hover {
    background: $darker;
    color: $light;
  }
}

.btn-gray {
  color: $light;
  background: #485a7e;
  font-size: $font-size;

  &:hover {
    background: #354c7c;
    color: $light;
  }
}

.btn-green {
  color: $light;
  background: #178d1b;
  font-size: $font-size;
  padding-bottom: 2px;

  &:hover {
    background: #158018;
    color: $light;
  }
}

.btn-light {
  color: $dark;
  background: $light;
  border: solid 1px #d3d3d3;

  &:hover {
    background: $darker;
    color: $light;
  }
}

.btn-transparent {
  color: $light;
  background: transparent;
  border: solid 1px $dark;

  &:hover {
    background: $darker;
    color: $light;
  }
}

.fadeIn {
  animation: fadeInAnimation 1s ease-in-out forwards;
  opacity: 0;
}

.ms-n1 {
  margin-left: -3rem !important;
}

.pt-top {
  padding-top: 5rem !important;
}

.fw-success {
  color: #4BB543;
  font-weight: bold;
}

@media screen and (min-width: 840px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 839px) {
  .web-only {
    display: none;
  }

  .grid-card {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 16px;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
